{% extends 'base.html.twig' %}
{% block title %} Ode ide title {% endblock %}
{% block body %}

    <div class="table grid-profil">
        <div class="user-profil">
            <div class="img-edit-users">
            </div>

            <div>
                <div class="profil-img-avatar">
                    <img src="{{user.avatar}}" class="profil-avatar" />
                </div>
                <h2>{{user.firstName}}</h2>
                <h2>{{user.lastName}}</h2>
                <p><b>First name:</b> {{user.firstName}}</p>
                <p><b>Last name:</b> {{user.lastName}}</p>
                <p><b>Email:</b>{{user.email}}</p>
                <p><b>Status:</b>{{user.status}}</p>
            </div>
        
            <input type="button" class="btn" value="Filter" />
            <p><b>This month: 120:16:45</b></p>
        </div>

    {# forma edit task #}

        {# <div class="editTaskTable">
            <h2>Edit task</h2>

            <div class="formEditTask">
            
            {{form_start(form, {'attr': {'class': 'inputs'}}) }}

                <div>
                    {{form_row(form.user_id, {'attr': {'class': 'input'}}) }}
                </div>

                <div>
                    {{form_row(form.client_id, {'attr': {'class': 'input'}}) }}
                </div>

                <div>
                    {{form_row(form.month, {'attr': {'class': 'input'}}) }}
                </div>

                <div>
                    {{form_row(form.time, {'attr': {'class': 'input'}}) }}
                </div>

                <div>
                    {{form_row(form.taskName, {'attr': {'class': 'input'}}) }}
                </div>

                <div class="cancle-and-add">
                    <div class="closeEdit">
                        <button class="closeAdd">Cancel</button>
                    </div>
                    {{form_row(form.save, {'attr' : {'class': 'editBtn'}}) }}
                </div>
            {{ form_end(form) }}
                
            </div>
        </div>
    </div> #}

{% endblock %}
