{% extends 'base.html.twig' %}
{% block title %} Profile user {% endblock %}
{% block body %}

    <div class="table grid-profil">
        <div class="user-profil">
            <div class="img-edit-users">
                <a class="edit-btn">
                    <a href="javascript:void(0)" class="openEditModal"><img src="{{ asset("images/icons/edit-3.svg") }}" data-edit="{{ user.id }}" ></img></a>

                </a>
            </div>

            <div class="infoUser">
                <div class="profil-img-avatar">
                    <img class="imgProfileUser" src="{{ asset('images/profile-images/'~app.user.avatar) }}" alt="profile image"/>
                </div>
                <h2>{{app.user.firstName}}</h2>
                <h2>{{app.user.lastName}}</h2>
                <p><b>First name:</b> {{app.user.firstName}}</p>
                <p><b>Last name:</b> {{app.user.lastName}}</p>
                <p><b>Email:</b>{{app.user.email}}</p>
                <p><b>Status:</b>{{app.user.status}}</p>
            </div>
              <form class="filter-task">
                <h2 class="h2-filter">Filter</h2>
                <input type="month" name="month" id="filter-month"/>
                <select name="client" class="select-client">
                    {% for client in clients %}
                    <option value="{{ client.getId() }}">
                        {{ client.getClientName() }} 
                    </option>
                    {% endfor %}
                </select>
                <div class="filter-btn">
                    <input type="button" class="btn" value="Filter"></input>
                    <input type="button" class="btn" value="Reset"></input>
                </div>
            </form>
            <div class="log-out-btn border0">
                <a href="{{ path('dashboard_logout') }}" class="btn input-btn">Log out</a>
            </div>
        </div>
        
        <div class="table-profil">
        <div class="closeEdit">
            <a href="{{ path('dashboard_user_addTask', {id: app.user.id}) }}" class="editBtn addTask" >Add task</a>
        </div>
            <table class="border-left">
                <thead>
                    <tr class="profil-tr">
                        <th>Task</th>
                        <th>Client</th>
                        <th>Edit task</th>
                        <th>Month</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr>
                        <td>{{task.taskName}}</td>
                        <td>{{task.client.clientName}}</td>
                         <td class="avatar-and-options">
                            <a href="{{ path('dashboard_user_editTask', {id: task.id})}}" className="dot-btn">
                                <img src="{{ asset("images/icons/edit-3.svg") }}"></img>
                            </a>
                        </td>
                        <td>{{task.month|date("m/d/Y")}}</td>
                        <td>{{task.time|date("H:i:s")}}</td>         
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="modal-edit-user">
        <div class="new-user edit-users">
            <h2>Edit User</h2>
            
            <div class="formAddModal">
                
                {{form_start(form, {'attr': {'class': 'inputs'}}) }}

                    <div>
                        {{form_row(form.email, {'attr': {'class': 'inputForm'}}) }}
                    </div>

                    <div>
                        {{form_row(form.roles, {'attr': {'class': 'inputForm'}}) }}
                    </div>

                    <div>
                        {{form_row(form.password, {'attr': {'class': 'inputForm'}}) }}
                    </div>

                    <div>
                        {{form_row(form.avatar, {'attr': {'class': 'inputForm'}}) }}
                    </div>

                    <div>
                        {{form_row(form.firstName, {'attr': {'class': 'inputForm'}}) }}
                    </div>

                    <div>
                        {{form_row(form.lastName, {'attr': {'class': 'inputForm'}}) }}
                    </div>

                    <div>
                        {{form_row(form.status, {'attr': {'class': 'inputForm'}}) }}
                    </div>

                    <div>
                        {{form_row(form.city, {'attr': {'class': 'inputForm'}}) }}
                    </div>

                    <div class="cancle-and-add">
                        <div class="closeEdit">
                            <button class="closeAdd">Cancel</button>
                        </div>
                        {{form_row(form.save, {'attr' : {'class': 'editBtn'}}) }}
                    </div>
                {{ form_end(form) }}

            </div>
        </div>
    </div>

{% endblock %}
